
.lg-form{
  width: 90%;
  margin: 2% auto;

}
.btn-primary{
  margin-bottom: 2%;
}
.form-class{
  margin-left: 25%;
}

.error {
  color: #a94442;

  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}
